.Node {
  --node-padding: 20px;

  position: absolute;
  padding: var(--node-padding);
}

.NodeContent {
  --width: 200px;

  position: relative;
  width: var(--width);

  padding: 10px 20px;
  border-radius: 5px;

  color: #00755b;
  background-color: #d4fff6;
  outline: 1px solid #009e7b;

  z-index: 2;
  cursor: pointer;
}
.isSelected .NodeContent {
  background-color: #00ffc8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.NodeContentLabel {
  line-height: 20px;
  min-height: 20px;
  font-weight: bold;
}

.NodeInputPorts,
.NodeOutputPorts {
  position: absolute;
  left: var(--node-padding);
  right: var(--node-padding);
  top: var(--node-padding);
  bottom: var(--node-padding);

  opacity: 0;
  transition: opacity 200ms linear;

  z-index: 1;
  pointer-events: none;
}

.Node.isDraggingPort:hover .NodeInputPorts {
  opacity: 1;
  pointer-events: all;
}

.Node.isNotDraggingPort:hover .NodeOutputPorts {
  opacity: 1;
  pointer-events: all;
}

.NodeInputPorts > *,
.NodeOutputPorts > * {
  position: absolute;
}

.NodeInputPorts > *,
.NodeOutputPorts > * {
  position: absolute;
}
.NodeInputPorts > *:nth-child(1),
.NodeOutputPorts > *:nth-child(1) {
  left: 50%;
  top: 0;
}
.NodeInputPorts > *:nth-child(2),
.NodeOutputPorts > *:nth-child(2) {
  left: 100%;
  top: 20px;
}
.NodeInputPorts > *:nth-child(3),
.NodeOutputPorts > *:nth-child(3) {
  left: 50%;
  top: 100%;
}
.NodeInputPorts > *:nth-child(4),
.NodeOutputPorts > *:nth-child(4) {
  left: 0;
  top: 20px;
}

.Size-sm .NodeContent {
  --width: 160px;

  position: relative;
  width: var(--width);
}

.Size-md .NodeContent {
  --width: 200px;

  position: relative;
  width: var(--width);
}

.Size-lg .NodeContent {
  --width: 240px;

  position: relative;
  width: var(--width);
}

.Color-red .NodeContent {
  color: #750000;
  background-color: #ffd4d4;
  outline: 1px solid #9e0000;
}
.Color-red.isSelected .NodeContent {
  background-color: #ffa1a1;
}

.Color-green .NodeContent {
  color: #00755b;
  background-color: #d4fff6;
  outline: 1px solid #009e7b;
}
.Color-green.isSelected .NodeContent {
  background-color: #00ffc8;
}

.Color-blue .NodeContent {
  color: #002d75;
  background-color: #d4e9ff;
  outline: 1px solid #004a9e;
}
.Color-blue.isSelected .NodeContent {
  background-color: #a1ceff;
}
