.Node {
  --node-padding: 21px;

  position: absolute;
  padding: var(--node-padding);
}

.NodeContent {
  --width: 150px;

  position: relative;

  width: var(--width);

  padding: 12px 22px;
  margin: -2px;

  border-radius: 5px;
  outline: 1px solid lightgray;
  background-color: white;
  z-index: 2;

  cursor: pointer;
}
.isSelected .NodeContent {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05);
}

.NodeContentLabel {
  line-height: 20px;
  min-height: 1em;
}

.NodeInputPorts,
.NodeOutputPorts {
  position: absolute;
  left: var(--node-padding);
  right: var(--node-padding);
  top: var(--node-padding);
  bottom: var(--node-padding);

  opacity: 0;
  transition: opacity 200ms linear;

  z-index: 1;
  pointer-events: none;
}

.Node.isDraggingPort:hover .NodeInputPorts {
  opacity: 1;
  pointer-events: all;
}

.Node.isNotDraggingPort:hover .NodeOutputPorts {
  opacity: 1;
  pointer-events: all;
}

.NodeInputPorts > *,
.NodeOutputPorts > * {
  position: absolute;
}

.NodeInputPorts > *,
.NodeOutputPorts > * {
  position: absolute;
}
.NodeInputPorts > *:nth-child(1),
.NodeOutputPorts > *:nth-child(1) {
  left: 50%;
  top: 0;
}
.NodeInputPorts > *:nth-child(2),
.NodeOutputPorts > *:nth-child(2) {
  left: 100%;
  top: 50%;
}
.NodeInputPorts > *:nth-child(3),
.NodeOutputPorts > *:nth-child(3) {
  left: 50%;
  top: 100%;
}
.NodeInputPorts > *:nth-child(4),
.NodeOutputPorts > *:nth-child(4) {
  left: 0;
  top: 50%;
}
