.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.TitleBar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100vw;
  height: 30px;
  padding-right: 30px;
  border-bottom: 1px solid rgb(2, 192, 151);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1), 2px 0 3px rgba(0, 0, 0, 0.1);

  color: #00755b;
  background-color: #00ffc8;

  z-index: 9;

  -webkit-app-region: drag;
}

.TitleBarControls {
  width: 66px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  margin-right: 10px;
}

.TitleBarControls > * {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.TitleBarControls > * + * {
  margin-left: 8px;
}

.TitleBarTitle {
  font-weight: bold;
  color: #00755b;
}

.TitleBar menu {
  display: flex;
}

.TitleBar menu button {
  -webkit-appearance: none;

  position: relative;
  height: 30px;
  border: none;

  background-color: transparent;
  color: #00755b;

  text-align: left;
  cursor: pointer;
  outline: none;
}
.TitleBar menu > * {
  position: relative;
  margin: 0 4px;
}
.TitleBar menu button:hover,
.TitleBar menu button:focus,
.TitleBar menu button:active {
  text-decoration: underline;
}

.TitleBarFilePath {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  margin-left: 40px;
  font-weight: bolder;
}

.TitleBarFilePath svg {
  margin-right: 4px;
}

.Canvas {
  flex: 1;
  width: 100vw;
  overflow: hidden;
}
